<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>My Site</title>
     <link rel="stylesheet" href="/public/stylesheets/style.css">
    <link rel="stylesheet" href="/public/stylesheets/formPage.css">
    <script src="https://code.jquery.com/jquery-3.4.0.min.js"></script>
    <script src="public/scripts/medi-client.js"></script>
    <script src='/public/scripts/script_reservation_new.js'></script>
</head>
<body>
      {{#if user}}
    <div class="header">
  <img src="/public/images/logo" alt=" " height="62" width="130">
  <div class="header-right">
    <a href="/reservation" class="button1 btn_dash button">Appointments</a>
    <a class="button1 btn_dash button" href="/doctors">List of Doctors</a> 
      <a href="/logout" class="button1 btn_logout button">Logout</a>
</div>
</div>
    {{/if}}
    <main>
        {{{body}}}
    </main>
</body>
</html>