<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <title>My Site</title>
     <link rel="stylesheet" href="/public/stylesheets/style.css">
    <link rel="stylesheet" href="/public/stylesheets/formPage.css">
    <script src="https://code.jquery.com/jquery-3.4.0.min.js"></script>
    <script src='/public/scripts/script_reservation_new.js'></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</head>

<body>
  {{#if user}}
  <div class="header">
    <a href="/" class="logo"><img src="/public/images/logo" height="62" width="130" alt="Logo" ></a>
    <div class="header-right">
      <a href="/">Home</a>
      <a href="/contact">Help</a>
      <a href="/reservation" class="button1 btn_dash button">Appointments</a>
      <a class="button1 btn_dash button" href="/doctors">List of Doctors</a>
      <a href="/logout" class="button1 btn_logout button">Logout</a>
    </div>
  </div>
  {{/if}}
  <main>
    {{{body}}}
  </main>
    <script src="tota11y.min.js"></script>
</body>

</html>