<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">



    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login In</title>
    <link rel="stylesheet" href="/public/stylesheets/formPage.css">


</head>

<body background="/public/images/background_image.jpg">

    <div class="box" style="width : 50%; top: 60%;">
        <form id="loginForm" action="/users/login" method="POST">

            {{#if hasErrors}}
            <div id="userExsistError" style="display: block;">
                <div class="container text-center">
                    <div class="alert alert-danger text-left" role="alert">
                        <div class="alert-heading errorHeading">Error</div>
                        <div> {{error}}</div>
                    </div>
                </div>
            </div>
            {{/if}}

            <div id="errorContainerReg" style="display: none;">
                <div class="container text-center">
                    <div class="alert alert-danger text-left" role="alert">
                        <div class="alert-heading errorHeading">Error</div>
                        <div id="loginError">You must enter valid Username or Password</div>
                    </div>
                </div>
            </div>

            <a href="/">Back to Home</a>
            <br /><br />
            <h1>Login In</h1>
            <input id="email" type="email" name="email" placeholder="Email" required>
            <input id="password" type="password" name="password" placeholder="Password" required>
            <input type="submit" value="Log In" placeholder="Log In">
            <div id="newUser"><a href="/users/signup">New User?</a></div>
        </form>

    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src='/public/scripts/script_login.js'></script>



</body>



</html>