<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
</head>

<body background="/public/images/background_image.jpg">

    {{#if hasErrors}}
    <div id="userExsistError" style="display: block;">
        <div class="container text-center">
            <div class="alert alert-danger text-left" role="alert">
                <div class="alert-heading errorHeading">Error</div>
                <div> {{error}}
                    <a href="/users/login"> : Go to Login </a>
                </div>
            </div>
        </div>
    </div>
    {{/if}}

    <form class="box" id="signupForm" style="width : 50%" action="/users" method="POST">

        <div id="errorContainerReg" style="display: none;">
            <div class="container text-center">
                <div class="alert alert-danger text-left" role="alert">
                    <div class="alert-heading errorHeading">Error</div>
                    <div id="FirstNameError">You must enter valid Username</div>
                    <div id="EmailError">You must enter an valid email address</div>
                    <div id="passwordError">You must enter a password</div>
                    <div id="repasswordError">You must re-enter a correct password</div>
                </div>
            </div>
        </div>

        <a href="/">Back to Home</a>
        <br /><br />
        <h1>Sign up</h1>

        <input id="username" type="text" name="username" placeholder="Username" required>

        <input id="email" type="email" name="email" placeholder="Email" required>

        <input id="password" type="password" name="password" placeholder="Password" required>

        <input id="repassword" type="password" name="repassword" placeholder="Re-enter Password" required>

        <input type="submit" value="Create Account" placeholder="Sign Up">
        <a href="/users/login">Already have one?</a>
    </form>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src='/public/scripts/script_signup.js'></script>


</body>



</html>